# Build directory
build/
sdkconfig
sdkconfig.old

# IDE files
.vscode/
.idea/

# Certificate files
main/certs/

# macOS files
.DS_Store

# ESP-IDF specific
managed_components/
components/esp_https_server/certs/ 